.grid_class{
    /* display: grid;
    grid-auto-rows: auto 20px; *//*header and rows height*/
    border: 1px solid grey;
}

.cell_class{
    position: relative;
    min-height: 20px;
    border: 1px solid gainsboro;
    padding: 0 2px 0 2px;
}

.header_class{
    background-color: Gainsboro;
    padding: 10px;
    text-align: center;
}

.hidden{
    display: none;
}

#cell_editor{
    width: 100%;
    height: auto;
    position: absolute;
    padding: 3px;
    left: 0px;
    top: 0px;
    z-index:20;
    background-color: white;
    border: 1px solid grey;
    user-select: none;
}

.halign_center{
    text-align: center;
}

.halign_left{
    text-align: left;
}

.halign_right{
    text-align: right;
}

.edited{
    background-color: gold;
}

.inserted{
    background-color: azure;
}

.deleted{
    background-color: coral;
}

.Selected{
    border: 1px solid black;
    background-color: gainsboro;
}

button.insert{
    width:100px;
    margin-top: 5px;
    margin-right: 5px;
}

button.save{
    width:100px;
    margin-top: 5px;
    margin-right: 5px;
}

button.delete{
    width:100px;
    margin-top: 5px;
    margin-right: 5px;
}